h1 {
	border: 2px rgb(230, 183, 121) solid;
	color: rgb(156, 77, 11);
	text-align: center;
	padding: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddba88;
  }
  
  .navbar {
    background-color: #fff;
    padding: 40px 13px;
  }
  
  .navbar a{
    color:   #87622e;
    padding: 15px 40px;
    cursor: pointer;
    text-align: center;
  }
  .navbar a:hover {
    border: 2px rgb(231, 197, 129) solid;
    color: rgb(199, 131, 5);
  }
  
  .navbar a.active {
    background-color: #ede3d5;
    color: white;
  }

  #one{
    float: none;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

#two{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#three{
    float: none;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
